.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    font-weight: 300;
    color: var(--cor-branca);
    text-transform: uppercase;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.topicos__item {
    margin: 2em 0.5em;
    
}

.lista__botoes {
    background-color: var(--cor-laranja);
    padding: 1em; 
    text-decoration: none;
    color: var(--cor-branca);
    font-weight: 700;
    font-size: 14px;
    border-radius: 3px;
    
}

@media screen and (min-width: 1024px) {

    .topicos__titulo {
        font-size: 24px;
    }

    .lista__botoes {
        font-size: 24px;
    }

    .topicos__item {
        margin: 2em 1em;
        align-content: center;
    }    
        
}


@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 25vw
    }
}